body{
    font-family: open sans,helvetica neue,Helvetica,Arial,sans-serif;
    background: black;
    overflow-x: auto;
    overflow-y: scroll;
    
    }
p{
    font-size: 30px;
    color: white;
     background: black;
}
 
    

.barba{
    position: relative;
    left: 65%;
}
fieldset{
    position: relative;
    top: 0;
    left:0% ;
    width: 300px;
    color: white;
    background: #2b22;
     
}
legend{
    background-color: #2b21;;
    color: #fff;
    padding: 3px 6px;
    font-size: 30px;
}
select {
    font-size: .9rem;
    padding: 2px 5px;
}

label {
    font-size: 25px;
    position: fixed;    
    left: 30px;
}



#container {
    border: 0px solid #2a2a2a;
    background: black;
    top: 0;
   margin: auto;

}
    
}
.current-section {
    position: fixed;
    top: 0;
    left: 50%;
    width: 693px;
    margin-left: -352px;
    background: #222;
    border: 5px solid #444;
    color: #fff;
    opacity: 0;
    visibility: hidden;
    transition: opacity ease-in-out 0.3s;
    -webkit-transition: opacity ease-in-out 0.3s;
}

.tagline {
    font: comics;
    font-size: 80px;
    color: white;
    background: black;
}

.pisc{
     animation: piscar 2s infinite;
    
}

    @keyframes piscar {
    0% {background-color: antiquewhite;}
    
    15%  {background-color: beige;}
    35%  {background-color: darkviolet;}
    40% {background-color: azure;}
}
